.container {
  margin: 8px;
}

.grp-1 {
  display:flex;
  flex-wrap: wrap;
}

.spacer {
  flex-grow: 1;
}

.forecast-icon {
  width: auto;
  height: 50%;
  border-radius: 5%;
}

.forecast-name {
  font-weight: bold;
  margin-left: 8px;
}

.grp {
  display: flex;
  flex-wrap: wrap;
}

.grp-2 mat-card {
  width: 250px;
}

.grp-1-sect-1 {
  display: flex;
  margin-bottom: 16px;
}

.grp-1-sect-2 {
  flex: 1 0;
  justify-content: space-between;
}

.forecast-card {
  flex: 2 0;
  max-width: 350px;
}

mat-card {
  margin: 8px;
}
