<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" class="sidenav-toggler">
    <mat-icon>{{ sideNavOpen ? 'menu_open' : 'menu' }}</mat-icon>
  </button>
  <span>TotalDash</span>
  <span class="spacer"></span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav (closed)="sideNavOpen = false" (opened)="sideNavOpen = true" #sidenav [fixedInViewport]="isMobile$ | async" [mode]="(isMobile$ | async) ? 'over' : 'side'" [opened]="!(isMobile$ | async)" [fixedTopGap]="(isMobile$ | async) ? 0 : 56">

    <mat-nav-list>
      <a mat-list-item routerLinkActive="link-active" [href]="navItem.url" *ngFor="let navItem of navItems">
        <mat-icon matListIcon>{{ navItem.icon }}</mat-icon>
        {{ navItem.text }}
      </a>
    </mat-nav-list>

    <span class="spacer"></span>

    <mat-nav-list>
      <a mat-list-item routerLinkActive="link-active" [routerLink]="navItem.url" [href]="navItem.url" *ngFor="let navItem of bottomNavItems">
        <mat-icon matListIcon>{{ navItem.icon }}</mat-icon>
        {{ navItem.text }}
      </a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
